[submodule "gedcom-to-map/geo_gedcom"]
	path = gedcom-to-map/geo_gedcom
	url = git@github.com:colin0brass/geo_gedcom.git
[submodule "gedcom-samples"]
	path = gedcom-samples
	url = git@github.com:D-Jeffrey/gedcom-samples.git
